/* Dohny CSS */

/*--Body--*/
body{
    font-family: 'Montserrat', sans-serif;
    background-image: url(/background);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

h1{
	color: #E8D0B0;
	text-transform: uppercase;
    font-weight: 600;
    font-size: 32;
}

h3{
    color: #E8D0B0;
}

/*--Results--*/
.results #app{
    background-color: rgba(75, 54, 39, 0.973);
    padding: 30px;
}

/*--Containers--*/
.container{
	width: 300px;
	padding: 40px;
	position: absolute;
	top: 10%;
	left: 50%;
	transform: translate(-50%,0);
	background: rgba(75, 54, 39, 0.932);
    text-align: center;
    box-shadow: 10px 20px 60px;
}

/*Container for MIX section*/
.containerMix{
	width: auto;
	padding: 40px;
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%,-50%);
	background: rgba(75, 54, 39, 0.932);
    text-align: center;
    box-shadow: 10px 20px 60px;
}

/*--Buttons and Forms--*/
.btn_Admin, .btn_Game, .btn_Add, .form_teamName, .btn_teamName{
    background: none;
    display: block;
    margin: 2px auto;
    text-align: center;
    border: 2px solid #2ECC71;
    padding: 14px 10px;
    outline: none;
    color: #E8D0B0;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
    text-decoration: none;
}

.btn_Admin{
    border-color: #fb3737;
}

/*--Admin Section--*/
.btn_teamName{
    width: 240px;
    background: #2ECC71;
    color: #4b3627;
}

.form_teamName{
    width: 170px;
    margin-bottom: 10px;
    margin-left: 15px;
}

.btn_Add{
    padding: 14px 9px 14px 9px;
    margin-bottom: 10px;
    margin-left: 10px;
}

/*White color for labels*/
.label{
    color: #E8D0B0;
}

/*Margin in Admin section*/
center .btn_Danger, .btn_Success{
    margin-top: 0; 
}

/*--Mix Buttons--*/
.btn_Danger, .btn_Success{ 
    background: none;
    /* width: 90px; */
    margin: 25px 5px auto;
    text-align: center;
    border: 2px solid #2ECC71;
    padding: 14px 10px;
    outline: none;
    color: #E8D0B0;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}
/*Red color for 'BACK' and 'RESET' buttons*/
.btn_Danger{
    border-color: #fb3737;
}

/*--Buttons hover--*/
.btn_Game:hover, .btn_Add:hover, .btn_Success:hover{
    background: #2ECC71;
    color: #4b3627;
}

.btn_Admin:hover, .btn_Danger:hover{
    background: #fb3737;
}

/*--Select Mix--*/
.teamName{
    margin-top: 15px;
    width: 200px;
    display: block;
    position: relative;
    left: 50%;
    top: 55%;
    transform: translate(-50%,-50%);
    background-color: #532605;
   /* background-color: #442007;*/
}

#parfumName{
    margin-top: 15px;
    width: 200px;
    display: block;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%,-50%);
    background-color: #532605;
}

.perfumeName{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #532605;
    color: #E8D0B0;
}

/*Labels and select for mix*/
.form-group{
    color: #E8D0B0; 
}
.text_WhiteDanger{
    background: rgba(206, 1, 1, 0.849);
    color: white;
}

.text_WhiteWarning{
    background: orangered;
    color: white;
}

.text_WhiteSuccess{
    background: green;
    color: white;
}

/*Footer*/
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 5px 0px 5px;
    background: rgba(71, 71, 71, 0.87);
    vertical-align: center;
    color: #E8D0B0;
}
a{
    text-decoration: none;
    color: #a393e6;
}
.footer a:hover{
    color: #2800d4;
}

/*Make footer invisible on mobile devices*/
@media (max-width: 760px) {
    .footer {
        display: none;
    }
}

/*Selects*/
select{
    margin: 20px 5px 0px 5px;
    padding: 5px;
    background-color: rgb(43, 42, 41);
    border: none;
    color: #fff;
}

/*--Responsivnes--*/
/*Responsive mix table*/
@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	.containerMix (table, thead, tbody, th, td, tr), .form-groupAdmin (table, thead, tbody, th, td, tr) { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	.containerMix thead .containerMix tr, .form-groupAdmin thead .form-groupAdmin tr{ 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.containerMix td,.form-groupAdmin td{ 
		/* Behave  like a "row" */
		border: none;
		position: relative;
		padding-left: 50%; 
	}
	
	.containerMix td:before, .form-groupAdmin td:before{ 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
    }

    /*Container responsive on mobile*/
    .containerMix{
        position: absolute;
        top: 50%;
        left: 50%;
    }

    /*Add button in admin section responsive on mobile*/
    .form_teamName{
        margin-left: 0;
        padding: 15px 0px;
        width: 100%;
    }

    .btn_Add{
        margin: 0px 0px 10px 0;
        padding: 14px 30px;
    }

    .btn_teamName{
        margin-top: 5px;
    }
    /*Responsive containers*/
    .container{
        height: auto;
        width: 250px;
        padding: 40px;
	    position: absolute;
	    top: 10%;
	    left: 50%;
	    transform: translate(-50%,0);
    }
    /*Buttons in results section responsive on mobile*/
    .results .btn_Danger, .results .btn_Success{
        display: block;
        margin-top: 5px;
    }

}